<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-secondary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
        Copyright © 2021. All rights reserved.
    </div>
    <!-- Copyright -->
    <!--    About-->
    <div class="d-flex flex-column flex-md-row justify-content-center">
        <!-- About -->
        <a class="text-white" href="/about">
            About
        </a>
        <!-- About -->
    </div>
    <!-- About -->
    <!-- Right -->
    <div>
        <a href="https://www.facebook.com/mkumar.akash" class="text-white me-4">
            <i class="fab fa-w-16 fa-2x fa-facebook"></i>
        </a>
        <a href="https://twitter.com/mingul149" class="text-white me-4">
            <i class="fab fa-w-16 fa-2x fa-twitter"></i>
        </a>
        <a href="mailto:mkumar.14916@gmail.com?subject=Hi, Biker!" class="text-white me-4">
            <i class="far fa-w-16 fa-2x fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/manish-kumar-4b6350192/" class="text-white">
            <i class="fab fa-w-16 fa-2x fa-linkedin-in"></i>
        </a>
    </div>
    <!-- Right -->
</div>